<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/site.png" type="image/x-icon">
    <title>TechTales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Comfortaa', sans-serif;
        }
    </style>
    {% block head %}
    
    {% endblock head %}
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="bi me-2" src="/static/img/site.png" alt="" width="40" height="32">
                <span class="fs-4">TechTales</span>
            </a>
            <form action="/search/" method="get" class="d-flex">
                <input type="text" name="query" class="form-control me-2" placeholder="Search articles...">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>
        </header>
    </div>
    {% block content %}
    <div class="container">
        {% for article in articles %}
        <article class="blog-post">
            <h3 class="display-6 link-body-emphasis mb-1">{{ article.title }}</h3>
            <p>{{ article.description }}</p>
            <blockquote>
            <div class="d-flex">
                <p>Views: {{ article.views }}</p>
                <p class="ms-3">Likes: {{ article.likes }}</p>
            </div>
            <a href="/articles/{{ article._id }}" class="btn btn-primary">Read more</a>
            </blockquote>
        </article>
        {% endfor %}
        {% if total_pages > 1 %}
        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% for page in range(1, total_pages + 1) %}
                        <li class="page-item {% if page == current_page %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
    
    <div class="container mt-5 pt-5 border-top">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4">Subscribe to mailing</h2>
                <form method="post" action="/subscribe">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email (example@example.com)" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Subscribe</button>
                </form>

                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="subscriptionToast" style="display: none;">
                    <div class="toast-header">
                        <strong class="me-auto">TechTales</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Thanks for subscribing to the newsletter, have a nice day!
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <img class="bi me-2" src="/static/img/site.png" alt="" width="40" height="32">
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2023 TechTales, Inc</span>
            </div>
    
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // По успешной подписке отображаем toast
            const subscribeForm = document.getElementById('subscribeForm');
            const subscriptionToast = new bootstrap.Toast(document.getElementById('subscriptionToast'));
    
            subscribeForm.addEventListener('submit', async function (event) {
                event.preventDefault();
                const formData = new FormData(subscribeForm);
    
                try {
                    // Отправка формы асинхронно (подписка пользователя)
                    const response = await fetch('/subscribe', {
                        method: 'POST',
                        body: formData
                    });
    
                    if (response.ok) {
                        // Показываем toast при успешной подписке
                        subscriptionToast.show();
                        // Можно также сбросить значение поля email после успешной подписки, если нужно
                        // document.getElementById('email').value = '';
                    } else {
</body>
</html>